body {
    /* min-height: 100vh; */
    height: 100%;
    padding: 0;
    margin: 0;
    background-color: #0D1117;

}


html {
    height: 100%;
    padding: 0;
    margin: 0;
}

.menu {
    width: 100%;
    height: 100%;
}

.title-wrapper {
    display: grid;
    height: 30%;
    color: #E6EDE5;
    font-family: 'Asap', sans-serif;
    font-size: 1.25rem;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.form-wrapper {
    height: 80%;
    display: flex;
    justify-content: center;
}

.player-data {
    height: clamp(232px, 37vh, 270px);
    width: 70vw;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    justify-content: center;
}

.player-data>input,
.player-data>button {
    box-sizing: border-box;
    margin-top: 8%;
    border-radius: 15px;
}

.player-data>input {
    color: #E6EDE5;
    font-size: min(1rem + 2vw, 1.25rem);
    text-indent: 15px;
    caret-color: #E6EDE5;
    background-color: #2b3544b0;
    box-shadow: rgba(57, 56, 56, 0.305) 1.95px 1.95px 2.6px;
}

.player-data>button {
    background: linear-gradient(to right, #2b3544b0 50%, transparent 0);
    background-size: 200% 100%;
    box-shadow: 0 5px rgb(183, 172, 172);
    color: #E6EDE5;
    border-color: rgb(88, 81, 71);
    background-position: right;
    transition: background-position 0.3s;
}

.player-data>button>div {
    transition: transform 1s;
    font-size: 1.5rem;
    font-weight: 400;
}

.player-data>button:hover>div {
    transform: scale(1.4);
    
}

.player-data>button:hover {
    background-position: left;
}

.game {
    height: 100%;
    width: 100%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}
.board-wrapper{
    position: relative;
    box-sizing: border-box;
    width: min(80%, 314px);
    aspect-ratio: 1 / 1;
}
.board {
    display: grid;
    position: relative;
    grid-template-rows: 1fr 1fr 1fr;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
}


.board>div {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    position: relative;
    box-sizing: border-box;
    /* background-color: white; */
}

.board>div>div {
    border-bottom: solid 5px red;
    border-right: solid 5px red;
    box-sizing: border-box;
}

.board>div:nth-last-child(1)>div {
    border-bottom: none;
}

.board>div> :nth-last-child(1) {
    border-right: none;
}
.board > div > div{
    display: flex;
    justify-content: center;
    align-items: center;
    color:aqua;
    height: 100%;
    width: 100%;
    position: relative;
    box-sizing: border-box;
    font-size: 4rem;
    /* text-align: center; */
    /* vertical-align: center; */
}
.score{
    margin-top: 20px;
    display : grid;
    width: min(80%,314px);
    color:wheat;
    justify-content: space-around;
    grid-template-columns: auto auto;
}
.score  div {
    font-size: min(1rem + 2vw,1.5rem);
    text-align: center;
}
.line{
    position:absolute;
    padding:0 ;
    margin: 0;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    z-index: 1;
    pointer-events: none;
    overflow: visible;
}
.line > path {
    stroke-dasharray: var(--length);
    stroke-dashoffset: var(--length);
    animation: dash 500ms linear 0s 1 normal forwards running;
}
@keyframes dash {
    to {
        stroke-dashoffset: 0;
    }
}
.turn{
    color: rgb(231, 221, 221);
    font-size: clamp(1.2rem,0.5rem + 2.5vw,1.5rem);
    margin-bottom: 20px;
}
.board svg{
    width: 70%;
    aspect-ratio: 1/1;
    position: absolute;
}
.board svg > circle ,.board svg > path{
    stroke-dasharray: var(--length);
    stroke-dashoffset: var(--length);
    animation: dash 400ms linear 0s 1 normal forwards running;
}

#win-page{
    pointer-events: none;
    display: grid;
    max-width: 100%;
    /*the 30% is for spacing for first item*/
    grid-template-rows: 30% 5px max-content auto;
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgb(42, 39, 35);
    z-index: 9999;
    transition: opacity 1.5s linear 700ms;
    opacity: 100%;
}
#win-page.hide{
    opacity: 0%;
}
#winner-mark{
    width: min(15%,115px);
    box-sizing: border-box;
    justify-self: center;
    align-self: end;
    aspect-ratio: 1/1;
}
.horizontal-line{
    width: min(30%,150px);
    height: 100%;
    justify-self: center;
    background-color: rgb(0, 0, 0);
    border-radius: 10px;
    align-self: center;
}
#result-text{
    color: aliceblue;
    justify-self: center;
    padding-top: 10px;
    font-size: 3rem;
}
.home-restart-btn-wrapper{
    padding-bottom: 5vh;
    display: flex;
    width: min(50%,300px);
    box-sizing: border-box;
    justify-content: space-between;
    justify-self: center;
    align-self: end;
    padding-bottom: 10vh;
}
.home-restart-btn-wrapper button{
    width: clamp(3rem,1rem + 12vw , 4rem);
    padding: 5px 10px;
    border: solid black;
    background-color: #0D1117;
    box-sizing: border-box;/
}
.home-restart-btn-wrapper svg{
    color: white;
    height: 95%;
    width: 100%;
}
.hide {
    display: none;
}